 p {
   display: inline-block;
   font-size: 13px;
 }

 .ant-modal-header {
  padding: 13px 16px;
  border-bottom: 0;
}
.ant-modal-title {
  margin: 0;
  font-size: 15px;
  line-height: 21px;
  font-weight: 500;
}
.ant-modal-close {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  top: -20px;
  position: relative;

  &:hover {
    box-shadow: 0px 2px 5px 0px rgba(255, 110, 96, 0.5);
  }
  &:focus {
    outline-color: transparent;
  }
}
.ant-modal-close-x {
  width: unset;
  height: unset;
  font-size: 20px;
  line-height: unset;
  color: #fff;
}
.ant-modal-content {
  border-radius: 10px;
  text-align: center;
}
.ant-modal-body {
  padding: 0 20px;
  font-size: 13px;
  line-height: 1.5;
}
.ant-modal-footer {
  border-top: 0;
  padding: 20px;
  text-align: center;
  .ant-btn-lg {
    padding: 9px 29px;
    font-size: 16px;
    height: 40px;
    font-family: 'Nunito', sans-serif;
  }

}
.ant-confirm {
  .ant-modal-body {
    padding: 30px 35px;
  }
}
.ant-confirm-body {
  .ant-confirm-title {
    font-weight: 700;
    font-size: 15px;
  }
  .ant-confirm-content {
    margin-left: 42px;
    font-size: 13px;
    margin-top: 8px;
  }
}
